 html 
    head 
        body 
           form(action="/weightupdate" method="POST")
                label ID 
                input(type="text" value=`${studentid}` name= "id") 
                br
                label Enter Weight
                input(type="text" name= "weight") 
                br
                label Date
                input(type="date" name="date")
                br
                br
                label Enter waist 
                input(type="text" name= "waist") 
                br
                button Add 